################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
obj
/FinancialTrackerApi/.vs/FinancialTrackerApi.slnx/v18
/FinancialTrackerApi/.vs/FinancialTrackerApi.slnx/FileContentIndex
/FinancialTrackerApi/FinancialTrackerApi/Properties/launchSettings.json
.vs
bin
